@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  background-color: #040D14;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
